@import "tailwindcss";

@theme {
  --color-primary: #2d3748;
  --color-primary-dark: #1a202c;
  --color-primary-light: #4a5568;
  
  --color-secondary: #e53e3e;
  --color-secondary-dark: #c53030;
  --color-secondary-light: #fc8181;
  
  --color-accent: #f6ad55;
  --color-accent-dark: #ed8936;
  --color-accent-light: #fbd38d;
  
  --color-background: #f7fafc;
  --color-background-dark: #f1f5f9;
  --color-background-white: #ffffff;
  
  --color-textColor: #1a202c;
  --color-textColor-light: #4a5568;
  --color-textColor-lighter: #718096;
}

::selection{
  background-color: rgb(246, 255, 208);
}

@keyframes navbar {
  from{
    transform: translateY(-55px);
    opacity: 0;
  }
  to{
    transform: translateY(20px);
    opacity: 1;
  }
}

@keyframes form {
  from{
    display:none;
  }
  to{
    display:block;
  }
}
@keyframes image {
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(100%);
  }
}

.navbar {
  animation: navbar 1s ease-out forwards;
}
.form{
  animation:form 5s 2s ease-in forwards;
}
.image{
  animation:image 1s linear forwards;
}
body {
  padding-right: 0;
}
