@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@keyframes navbar {
  from{
    transform: translateY(-55px);
    opacity: 0;
  }
  to{
    transform: translateY(20px);
    opacity: 1;
  }
}

.navbar {
  animation: navbar 1s ease-out forwards;
}

body {
  /* height: 5000px; */
  /* background-color: teal; */
  overflow-x: hidden;
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
