@import "tailwindcss";

@theme {
  --color-primary: #2d3748;
  --color-primary-dark: #1a202c;
  --color-primary-light: #4a5568;
  
  --color-secondary: #e53e3e;
  --color-secondary-dark: #c53030;
  --color-secondary-light: #fc8181;
  
  --color-accent: #f6ad55;
  --color-accent-dark: #ed8936;
  --color-accent-light: #fbd38d;
  
  --color-background: #f7fafc;
  --color-background-dark: #edf2f7;
  --color-background-white: #ffffff;
  
  --color-textColor: #1a202c;
  --color-textColor-light: #4a5568;
  --color-textColor-lighter: #718096;
}

@keyframes navbar {
  from{
    transform: translateY(-55px);
    opacity: 0;
  }
  to{
    transform: translateY(20px);
    opacity: 1;
  }
}

.navbar {
  animation: navbar 1s ease-out forwards;
}

body {
  padding-right: 0;
}
